In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from importlib import reload
%matplotlib inline

In [2]:
import feature as F
import feature_collection as FC

/home/ryohayama/.local/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
train = pd.read_csv('train.csv', header=0)

In [4]:
train.columns

Index(['id', 'target', 'ps_ind_01', 'ps_ind_02_cat', 'ps_ind_03',
       'ps_ind_04_cat', 'ps_ind_05_cat', 'ps_ind_06_bin', 'ps_ind_07_bin',
       'ps_ind_08_bin', 'ps_ind_09_bin', 'ps_ind_10_bin', 'ps_ind_11_bin',
       'ps_ind_12_bin', 'ps_ind_13_bin', 'ps_ind_14', 'ps_ind_15',
       'ps_ind_16_bin', 'ps_ind_17_bin', 'ps_ind_18_bin', 'ps_reg_01',
       'ps_reg_02', 'ps_reg_03', 'ps_car_01_cat', 'ps_car_02_cat',
       'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat', 'ps_car_06_cat',
       'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat', 'ps_car_10_cat',
       'ps_car_11_cat', 'ps_car_11', 'ps_car_12', 'ps_car_13', 'ps_car_14',
       'ps_car_15', 'ps_calc_01', 'ps_calc_02', 'ps_calc_03', 'ps_calc_04',
       'ps_calc_05', 'ps_calc_06', 'ps_calc_07', 'ps_calc_08', 'ps_calc_09',
       'ps_calc_10', 'ps_calc_11', 'ps_calc_12', 'ps_calc_13', 'ps_calc_14',
       'ps_calc_15_bin', 'ps_calc_16_bin', 'ps_calc_17_bin', 'ps_calc_18_bin',
       'ps_calc_19_bin', 'ps_calc_20_bin'],
      dtype='object')

In [5]:
vec1 = train.ps_calc_12
vec2 = train.ps_reg_03
vec3 = train.ps_ind_04_cat
vec4 = train.ps_ind_05_cat
target = train.target

In [6]:
test_ord = pd.concat([vec1, vec2], axis=1)
test_cat = pd.concat([vec3, vec4], axis=1)

In [7]:
reload(F)
reload(FC)

## Testing CategoricalFeatureCollection

In [8]:
cat_collection = FC.CategoricalFeatureCollection(test_cat, target=target)

In [9]:
cat_collection.data.head()

   ps_ind_04_cat  ps_ind_05_cat
0              1              0
1              0              0
2              1              0
3              0              0
4              1              0

In [10]:
cat_collection.collection

{'ps_ind_04_cat': <feature.CategoricalFeature at 0x7fc841651e10>,
 'ps_ind_05_cat': <feature.CategoricalFeature at 0x7fc8418967f0>}

In [11]:
cat_collection.convert2CondProba(target_class=1).head()

   ps_ind_04_cat  ps_ind_05_cat
0       0.038644       0.033865
1       0.034790       0.033865
2       0.038644       0.033865
3       0.034790       0.033865
4       0.038644       0.033865

## Testing OrdinalFeatureCollection

In [12]:
reload(FC)

In [13]:
ord_collection = FC.OrdinalFeatureCollection(test_ord, target=target)

In [14]:
ord_collection.data.head()

   ps_calc_12  ps_reg_03
0           1   0.718070
1           1   0.766078
2           2  -1.000000
3           2   0.580948
4           1   0.840759

In [15]:
ord_collection.collection

{'ps_calc_12': <feature.OrdinalFeature at 0x7fc87595c3c8>,
 'ps_reg_03': <feature.OrdinalFeature at 0x7fc87595c4e0>}

In [16]:
ord_collection.convert2CondProba().head()

   ps_calc_12  ps_reg_03
0    0.019739   0.035980
1    0.019739   0.035980
2    0.023117   0.013163
3    0.023117   0.028518
4    0.019739   0.039078